# Data Transformation
#### I.Primary data Wrangling : 
1. Handling Missing values
2. Duplicates
3. correct data type: like dates 
4. Eleminate unecessary columns like UDI , Product ID
#### II.Feature Engineering 
1. label encoding 
2. catgorical encoding 
3. Converting Tempature from kalvin to Celcius
4. Feature scaling
5. Oversampling

In [1]:
import pandas as pd
import numpy as np

In [2]:
data  = pd.read_csv("../artifacts/raw.csv")
data.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

data.info()

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Machine failure          10000 non-null  int64
 9   TWF                      10000 non-null  int64
 10  HDF                      10000 non-null  int64
 11  PWF                      10000 non-null  int64
 12  OSF                      10000 non-null  int64
 13  RNF                      10000 non-null  int64
dtypes: float64(3), int64(9), object(2)
memory usage: 1.1+ MB

Missing values

In [4]:
data.isnull().sum()

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

duplicated

In [5]:
data.duplicated().sum()

0

Eliminate unecesseary columns

In [6]:
data.drop(['UDI', 'Product ID'], axis=1, inplace=True)
data.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

Categorical Encoding

In [7]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=[['L', 'M', 'H']])

data['Type'] = encoder.fit_transform(data[['Type']])
data.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1.0,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,0.0,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,0.0,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,0.0,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,0.0,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [8]:
def type_of_failure(row_name):
    if data.loc[row_name, 'TWF'] == 1:
        data.loc[row_name, 'type_of_failure'] = 'TWF'
    elif data.loc[row_name, 'HDF'] == 1:
        data.loc[row_name, 'type_of_failure'] = 'HDF'
    elif data.loc[row_name, 'PWF'] == 1:
        data.loc[row_name, 'type_of_failure'] = 'PWF'
    elif data.loc[row_name, 'OSF'] == 1:
        data.loc[row_name, 'type_of_failure'] = 'OSF'
    elif data.loc[row_name, 'RNF'] == 1:
        data.loc[row_name, 'type_of_failure'] = 'RNF'

data.apply(lambda row: type_of_failure(row.name), axis=1)
data['type_of_failure'].replace(np.NaN, 'no failure', inplace=True)
data.drop(['TWF', 'HDF', 'PWF', 'OSF', 'RNF'], axis=1, inplace=True)
data.head()

/tmp/ipykernel_181201/4092981012.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['type_of_failure'].replace(np.NaN, 'no failure', inplace=True)

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,type_of_failure
0,1.0,298.1,308.6,1551,42.8,0,0,no failure
1,0.0,298.2,308.7,1408,46.3,3,0,no failure
2,0.0,298.1,308.5,1498,49.4,5,0,no failure
3,0.0,298.2,308.6,1433,39.5,7,0,no failure
4,0.0,298.2,308.7,1408,40.0,9,0,no failure

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

data['type_of_failure'] = encoder.fit_transform(data['type_of_failure'])
data.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,type_of_failure
0,1.0,298.1,308.6,1551,42.8,0,0,5
1,0.0,298.2,308.7,1408,46.3,3,0,5
2,0.0,298.1,308.5,1498,49.4,5,0,5
3,0.0,298.2,308.6,1433,39.5,7,0,5
4,0.0,298.2,308.7,1408,40.0,9,0,5

convert Temperature from kalvin to celcius

In [10]:
data['Air temperature [c]'] = data['Air temperature [K]'] - 273.15
data['Process temperature [c]'] = data['Process temperature [K]'] - 273.15
data.drop(['Air temperature [K]', 'Process temperature [K]'], axis=1, inplace=True)
data.head()

,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,type_of_failure,Air temperature [c],Process temperature [c]
0,1.0,1551,42.8,0,0,5,24.95,35.45
1,0.0,1408,46.3,3,0,5,25.05,35.55
2,0.0,1498,49.4,5,0,5,24.95,35.35
3,0.0,1433,39.5,7,0,5,25.05,35.45
4,0.0,1408,40.0,9,0,5,25.05,35.55

In [11]:
data["Machine failure"].nunique

<bound method IndexOpsMixin.nunique of 0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Machine failure, Length: 10000, dtype: int64>

Scaling

In [12]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scale_cols = ['Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Air temperature [c]', 'Process temperature [c]']

data_scaled = scaler.fit_transform(data[scale_cols])
data_scaled = pd.DataFrame(data_scaled)
data_scaled.columns = scale_cols

data.drop(scale_cols, axis=1, inplace=True)

data_scaled = pd.concat([data, data_scaled], axis=1)
data_scaled.head()

,Type,Machine failure,type_of_failure,Rotational speed [rpm],Torque [Nm],Tool wear [min],Air temperature [c],Process temperature [c]
0,1.0,0,5,0.222934,0.535714,0.000000,0.304348,0.358025
1,0.0,0,5,0.139697,0.583791,0.011858,0.315217,0.370370
2,0.0,0,5,0.192084,0.626374,0.019763,0.304348,0.345679
3,0.0,0,5,0.154249,0.490385,0.027668,0.315217,0.358025
4,0.0,0,5,0.139697,0.497253,0.035573,0.315217,0.370370

Oversampling

In [15]:
from imblearn.over_sampling import SMOTE

In [16]:
smote = SMOTE(sampling_strategy='auto',random_state=42)

X = data_scaled.drop('type_of_failure', axis=1)
y = data_scaled['type_of_failure']

X_resampled, y_resampled = smote.fit_resample(X, y)

df_sampled = pd.concat([X_resampled, y_resampled], axis=1)
df_sampled.head()

,Type,Machine failure,Rotational speed [rpm],Torque [Nm],Tool wear [min],Air temperature [c],Process temperature [c],type_of_failure
0,1.0,0,0.222934,0.535714,0.000000,0.304348,0.358025,5
1,0.0,0,0.139697,0.583791,0.011858,0.315217,0.370370,5
2,0.0,0,0.192084,0.626374,0.019763,0.304348,0.345679,5
3,0.0,0,0.154249,0.490385,0.027668,0.315217,0.358025,5
4,0.0,0,0.139697,0.497253,0.035573,0.315217,0.370370,5

In [17]:
df_sampled.value_counts('type_of_failure')

type_of_failure
0    9652
1    9652
2    9652
3    9652
4    9652
5    9652
Name: count, dtype: int64

In [18]:
df_sampled.to_csv("../artifacts/transformed_data.csv",index=False)